{% block happy_point %}
	{% if ( fields ) %}
		{% if ( fields.background_src or fields.opacity ) %}
			<style>
				{% if ( fields.background_src ) %}
					{{ fields.background_src|raw }}
				{% endif %}
				{% if ( fields.opacity ) %}
					.happy-point-block-wrap:before {
						opacity: {{ fields.opacity }};
					}
				{% endif %}
			</style>
		{% endif %}
			<div class="happy-point-block-wrap">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-md-10 pt-20">
							{% if ( fields.mailing_list_iframe == 'true' ) %}
								<iframe src="{{ fields.engaging_network_id }}" allowtransparency="true" frameborder="0" scrolling="no" width="100%" height="295"></iframe>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
	{% endif %}
{% endblock %}
