{% block happy_point %}
	{% if ( fields ) %}
		<div class="happy-point-block-wrap block-wide">
			<picture>
				<img src="{{ fields.background_src.0 }}" style="object-position:{{ fields.focus_image }};opacity:{{ fields.opacity }};" border="0" />
			</picture>
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-md-10 pt-20">
						{% if ( fields.mailing_list_iframe == 'true' ) %}
							<iframe src="{{ fields.engaging_network_id }}" allowtransparency="true" frameborder="0" scrolling="no" width="100%" ></iframe>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
