{% block mediavideo %}

	{% if ( fields ) %}
		{% if ( fields.video_title ) %}
			<h1>{{ fields.video_title }}</h1>
		{% endif %}

		{% if ( fields.youtube_id ) %}
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ fields.youtube_id }}" frameborder="0" allowfullscreen></iframe>
		{% endif %}
	{% endif %}

{% endblock %}
