{% block split_two_columns %}

{% if ( issue ) %}
    <div id="split_two_columns_block" class="split-two-columns-block">
        <div class="container">
            <div class="stc-left-side">
                {% if ( issue.title ) %}
                    <h2>{{ issue.title }}</h2>
                {% endif %}
                {% if ( issue.description ) %}
                    <p>{{ issue.description }}</p>
                {% endif %}
                <br />
                {% if ( issue.link_text and issue.link_url ) %}
                    <a href="{{ issue.link_url }}">{{ issue.link_text }}</a>
                {% endif %}
            </div>
            <div class="stc-right-side">
            </div>
        </div>
    </div>
{% endif %}
<div class="clear"></div>

{% endblock %}
